header{
  position: relative;
}
body {
  background-color: #C0C0C0;
  color: black;
}
.secondary-bg {
  background-color: #3B3B3B;
}
.muted-bg {
  background-color: #EEEEEE;
}
.btn {
  background-color: #90AB76;
  color: white;
}
nav {
  z-index: 99;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  /* color: white; */
}
nav.open {
  left: 0;
}
.nav-logo {
  max-width: 100%;
}
.fa {
  padding: 0.25rem;
  font-size: 2rem;
  width: 2.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  color: #55ACEE;
}
.fa-youtube {
  color: #bb0000;
}
.fa-instagram {
  color: #125688;
}
div.row.secondary-bg {
  color: white;
}
.explore-link {
  border-right: 3px solid  #3B3B3B;
}
#nav-toggle {
  z-index: 100;
  display: block;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 16.67%;
}
#nav-toggle span:nth-child(2),#nav-toggle span:nth-child(3) {
  top: 50%;
}
#nav-toggle span:nth-child(4) {
  top: 83.33%;
}
#nav-toggle.open span:nth-child(1) {
  top: 83.33%;
  width: 0%;
  left: 50%;
}
#nav-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-toggle.open span:nth-child(4) {
  top: 1.5rem;
  width: 0%;
  left: 50%;
}
@media (min-width: 768px) {
  nav {
    width: 20vw;
    left: 0;
  }
  #nav-toggle {
    display: none;
  }
  main.content {
    margin-left: 20vw;
  }
}